.ClickMe {
  background-color: black;
  height:100%;
  width:100%;
  background-image: url("https://media.giphy.com/media/3o7btNNSCfjnn14imk/giphy.gif");


  background-repeat: repeat;
}

/*  */
/* peeps glitch https://media.giphy.com/media/2shBNJSPTrpWvoXfpD/source.gif */
