

.MacbookAir {
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: hidden;

}

.MacbookAir .react-player {
  /* position: fixed; */
  position: absolute;
  top: 0;
  margin: auto;
  z-index:-100;

  overflow: hidden;
}

.MacbookAir .mainContent {
  padding-top: 22px;
  z-index:10;
  pointer-events: none;
}

.MacbookAir .sliderBox {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
}

.MacbookAir .clouds {
  z-index: -200;
}

@media (min-aspect-ratio: 16/9) {
  .MacbookAir .clouds video {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-aspect-ratio: 16/9) {
  .MacbookAir .clouds video {
    width: auto !important;
    height: 100% !important;
  }
}

span.emoji-slider{
  font-size: 35px;
  line-height: 28px;
}
